<!-- your html code here -->
<br/>
<div class="container">
    <div ><h2>Portafolio</h2></div>
    <div><p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Explicabo quia maiores illo, et saepe accusamus possimus! Maiores non aliquam saepe cupiditate. Provident, iste voluptates obcaecati incidunt ullam expedita nostrum molestias?</p></div>
    <div class="row d-flex justify-content-center">

            <div class="card col-md-4 border-0">
                <img class="card-img-top" src="https://picsum.photos/id/500/700/400" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title text-primary">Project Name</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
            <div class="card col-md-4 border-0">
                <img class="card-img-top" src="https://picsum.photos/id/0/700/400" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title text-primary">Project Name</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
              <div class="card col-md-4 border-0">
                <img class="card-img-top" src="https://picsum.photos/id/1029/700/400" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title text-primary">Project Name</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>

    </div>
</div>
