<!-- your html code here -->
<div class="container ">
    <div class="row pb-5 pt-5">
        <div class="col-4">
            <img src="./assets/img/2.jpg" class="img-fluid rounded-circle" alt="non Image">
        </div>
        <div class="col-8">
            <h1> The Second Heading<span class="text-secondary"> Is Pretty Cool Too.</span></h1>
            <p class="text-secondary">Donec ullamcorper nulla non metus auctor fringilla. Vestubulum id ligula porta
                felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce
                dapibus, tellus ac cursus commodo.</p>
        </div>
    </div>
    <hr size="4" />
</div>