 <div class="card">
        <img src="https://static01.nyt.com/images/2019/05/30/realestate/00skyline-east3-digi/00skyline-east3-digi-superJumbo.jpg"
            class="card-img" alt="...">
        <div class="card-img-overlay text-black text-center font-weight-bold">

            <div class="card-text bg-white">
                <h1>One Page Wonder</h1>
            </div>
            <div class="card-text bg-white">
                <h3>Will Kock your sock off</h3>
            </div>
        </div>
    </div>